body{
    background-color: gray;
    margin: 0px;
}


.left-div{
    position: absolute;
    height: 100vh;
    background-color: #bf94e4;
    width: 250px;
    left: 27%;
}    


.pfp{
    height: 150px;
    width: 150px;
    position: absolute;
    left: 20%;
    top: 3%;
    border-radius: 50%;
    border: 3px solid #dfc5ef;
    
}

.contacts{
    position: absolute;
    top: 24%;
    margin-bottom: 0;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;

}

.educational-attainment{
    position: absolute;
    top: 100%;
    width: 250px;
    border-top: 1px solid gray;   
    
}

i{
    margin-left: 10px;
    margin-right: 20px;
    font-family: arial;
    font-size: 18px;
    color: black;
}


h2{
    margin-top: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    margin-bottom: 7px;
    margin-left: 10px;
}



.educ-attainment{
    margin-left: 10px;
}

.school{
    margin-top: 10px;
    color: rgb(236, 226, 226);
}
h3{
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
}

p{
    margin-bottom: 4px;
    margin-top: 4px;
}

.expertise{
    position: absolute;
    top: 252%;
    width: 250px;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    
}

.prog-lang{
    margin-left: 10px;
}

.language{
    position: absolute;
    top: 330%;
    width: 250px;
    ;
}

.lang{
    margin-left: 10px;
}

.right-div{
    position: absolute;
    height: 100vh;
    background-color: white;
    width: 360px;
    left: 46%;
}

.name{
    width: 350px;
    position: absolute;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.name p{
    text-align: center;
}

.qualifications{
    position: absolute;
    width: 360px;
    top: 15%;
}

.right-div h2{
    text-align: left;
    font-size: 26px;
    margin-left: 15px;
    color: black;
}

.right-div h4{
    margin-left: 15px;
    font-size: 18px;
    color: black;
}

.right-div li{
    margin-left: 15px;
    color: gray;    
}

.right-div h3{
    margin-left: 15px;
}

.right-div p{
    margin-left: 15px;
    margin-right: 15px;
}

.footer{
    width: 360px;
    top: 80%;
    position: absolute;
}

h5{
    margin-left: 15px;
    font-size: 16px;
}


